
@{
    ViewBag.Title = "Tables";
}

<div class="panel-success">
    <div class="panel-heading text-center">
        <h4>Таблицы</h4>
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-default">@Html.ActionLink("Stations","Stations","Crud")</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("Routs","Routes","Crud")</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("Trains","Trains","Crud")</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("Trips","Index","TripsEdit")</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("TripsPoints", "TripPoints", "Crud")</button>
    </div>

</div>
